In [5]:
import pandas as pd
import seaborn as sns

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [7]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [38]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [39]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

classifer = GaussianNB()

classifer.fit(x_train,y_train)
y_pred = classifer.predict(x_test)

print(metrics.accuracy_score(y_test,y_pred)*100)
print(y_test)
print(y_pred)

93.33333333333333
128     virginica
109     virginica
121     virginica
139     virginica
76     versicolor
123     virginica
126     virginica
132     virginica
40         setosa
21         setosa
1          setosa
133     virginica
105     virginica
127     virginica
69     versicolor
107     virginica
81     versicolor
41         setosa
122     virginica
22         setosa
66     versicolor
44         setosa
33         setosa
9          setosa
129     virginica
131     virginica
77     versicolor
64     versicolor
38         setosa
134     virginica
87     versicolor
124     virginica
42         setosa
144     virginica
26         setosa
136     virginica
101     virginica
16         setosa
63     versicolor
62     versicolor
149     virginica
25         setosa
19         setosa
75     versicolor
147     virginica
Name: species, dtype: object
['virginica' 'virginica' 'virginica' 'virginica' 'versicolor' 'virginica'
 'virginica' 'virginica' 'setosa' 'setosa' 'setosa' 'versicolor'
 'virginica' 'virginica' 'versicolor' 'virginica' 'versicolor' 'setosa'
 'virginica' 'setosa' 'versicolor' 'setosa' 'setosa' 'setosa' 'virginica'
 'virginica' 'virginica' 'versicolor' 'setosa' 'versicolor' 'versicolor'
 'virginica' 'setosa' 'virginica' 'setosa' 'virginica' 'virginica'
 'setosa' 'versicolor' 'versicolor' 'virginica' 'setosa' 'setosa'
 'versicolor' 'virginica']